world/
logs/
cache/
*.log
.DS_Store
Thumbs.db
.gradle/
build/
out/
*.class
world.rar
jdk-22/
eula.txt
versions/
patchouli_books/
pfm/
logs/
libraries/
defaultconfigs/
crash-reports/
.mixin.out/
.fabric/